<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="alert alert-danger" *ngIf='error'>{{error}}</div>

<div class="container mt-3">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>index</th>
                <th>ClientId</th>
                <th>Client-Name</th>
                <th>Client-Password</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let clients of client ;index as i'>
                <td>{{i+1}}</td>
                <td>{{clients.id}}</td>
                <td>{{clients.username}}</td>
                <td>{{clients.password}}</td>         
                <!-- <td><button class="btn btn-outline-success" (click)='selectclient(clients)'>
                    Update
                </button></td> -->
            
                <td><button class="btn btn-outline-primary" (click)='deleteclient(clients)'>Delete</button></td>
            </tr>
        </tbody>
    </table>
    </div>
    
    
    
    
   