<div class="background">
  <h4 class="text-center mt-5">WELCOME TO CLIENT PAGE</h4>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h5>CUSTOMERS</h5>
      <div class="">
        <button mat-raised-button class="mr-2" routerLink="/add-customer">Add Customer</button>
        <button mat-raised-button class="" routerLink="/customer">View Customers</button>
        <!-- <button mat-raised-button class="" routerLink="/delete-update-customer">Update Customer</button> -->
      </div>
    </div>
    <div class="col text-center">
      <h5>CONTRACTS</h5>
      <div class="">
        <button mat-raised-button class="mr-2" routerLink="/add-contract">Add Contract</button>
        <button mat-raised-button class="" routerLink="/contracts">View Contracts</button>
      </div>
    </div>
  </div>
</div>