
<div class="background">
  <div>
    <h4 class="text-center mt-5">ADMIN DASHBOARD</h4>
  </div>
</div>
<div class="">
  <div class="row mt-5 mx-0">
    <div class="col text-center">
      <h4 class="mb-4">Products Info</h4>
      <div>
        <button mat-raised-button class=" mr-3" routerLink="/add-product">Add Product</button>
        <button mat-raised-button class="" routerLink="/products">View Products</button>
      </div>
    </div>

    <div class="col text-center">
      <h4 class="mb-4">Lands Info</h4>
      <div>
        <button mat-raised-button class="mr-3" routerLink="/add-land">Add land</button>
        <button mat-raised-button class="" routerLink="/lands">View Lands</button>
      </div>
    </div>

    <div class="col text-center">
      <h4 class="mb-4">Clients Info</h4>
      <div>
        <button mat-raised-button class="mr-3" routerLink="/add-client">Register Client</button>
        <button mat-raised-button class="mr-3" routerLink="/client">View Clients</button>
        <!-- <button mat-raised-button class="" routerLink="/delete-update-client">Delete Client</button> -->
      </div>
    </div>
    <div class="col text-center">
      <h4 class="mb-4">Schedulers Info</h4>
      <div>
        <button mat-raised-button class="mr-3" routerLink="/add-scheduler">Add Scheduler</button>
        <button mat-raised-button class="mr-3" routerLink="/scheduler">View Schedulers</button>
        <!-- <button mat-raised-button class="" routerLink="/delete-update-scheduler">Delete Scheduler</button> -->
      </div>
    </div>
  </div>

</div>